include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
include requirements.txt
graft hijack_admin
global-exclude *.orig *.pyc *.log *.swp
prune hijack_admin/tests/coverage
prune hijack_admin/.ropeproject
recursive-include hijack_admin/templates *
recursive-include hijack_admin/locale *
